{% form_theme form 'BigsoftStoreBundle::form_layout.html.twig' %}
{% extends 'BigsoftStoreBundle::layout.html.twig' %}
{% block content %}
    <div class="row row-with-margin">
        <div class="col-md-4">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}