{% extends 'BigsoftStoreBundle::layout.html.twig' %}
{% block content %}
    <div class="row row-with-margin">
        <div class="col-md-2">
            <img src="{{ asset('bundles/bigsoftstore/images/150x150.gif') }}">
            <div class="lead row-with-margin">Price: {{ product.getPrice() | price }}</div>
        </div>
        <div class="col-md-6">
            <h2 class>{{ product.getTitle() }}</h2>
            <p>{{ product.getDescription() }}</p>
        </div>
    </div>
{% endblock %}